<% @service_favorites.each do | service | %>
	  <div class="box">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                </div>
                <div class="pull-left meta">
                    <a href="#"><b><%= service.user.name %></b></a>
                     <h6 class="text-muted time">Услуга добавлена <%= service.created_at %></h6>
                </div>
                <%= link_to "Подробнее", service , remote: true,  data: { toggle: "modal", target: "#showServiceModal" }, class:"btn btn-default btn-content"  %> 
            </div> 
            <div class="post-description"> 
                <h2><%= service.name %>  </h2>    
                <% service.service_images.take(1).each do | image | %>
                    <%= image_tag image.avatar.url, width:"350", height:"270" %>
                <% end %>
                <div class="post-description-info">
                    <%= service.info %>
                </div>
            </div>
        </div>    
    </div>
	
<% end %>
<%= will_paginate @service_favorites %>