<div class="box">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <%= link_to image_tag(service.user.avatar.photo.url, class:"img-rounded avatar"), service.user %>
                </div>
                <div class="pull-left meta">
                     <a href="#"><b><%= link_to service.user.name, service.user %></b></a>
                     <h6 class="text-muted time">Товар добавлен <%= service.created_at %></h6>
                </div>
                <% if can? :destroy, service %>
                     <%= link_to  service , method: :delete, data: { confirm: "Вы уверены?" }, class:"btn btn-default btn-content", title: 'Удалить', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                     <% end %>
                <% end %>
                <%= link_to service , remote: true,  data: { toggle: "modal", target: "#showServiceModal" }, class:"btn btn-default btn-content", title: 'Узнать подробнее о товаре', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                <% end %> 
                <% if can? :update, service %>
                         <%= link_to edit_service_path(service) , remote: true,  data: { toggle: "modal", target: "#editProductModal" } , class:"btn btn-default btn-content", title:"Редактировать", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                             <span class="glyphicon glyphicon-cog" aria-hidden = "true"></span>
                         <% end %>
                <% end %>
            </div> 
            <div class="post-description"> 
                <h2><%= service.name %>  </h2>   
                <div class="post-description-info">
                    <h4><%= service.info[0..99] %>...</h4>
                </div>
                <% service.service_images.take(1).each do | image | %>
                    <%= image_tag image.avatar.url, width:"560", height:"300" %>
                <% end %>
                
            </div>
        </div>
    </div>

