<% if message.user_id == current_user.id %>
    <li class="right clearfix">
        <span class="chat-img pull-right">
            <%= link_to image_tag(message.user.avatar.url, class:"img-rounded", height:"50", width:"50"), message.user %>
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <% user = User.find(message.user_id) %>
                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.created_at %></small>
                                        <strong class="pull-right primary-font"><%= link_to user.name, user %></strong>
            </div>
            <p class="message-body">
                <%= message.body %>
            </p>
        </div>                        
    </li>
<% else %>
    <li class="left clearfix ">
        <span class="chat-img pull-left">
            <%= link_to image_tag(message.user.avatar.url, class:"img-rounded", height:"50", width:"50"), message.user %>
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <% user = User.find(message.user_id) %>
                <strong class="primary-font"><%= link_to user.name, user %></strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span><%= message.created_at %></small>
            </div>
            <p class="message-body">
                <%= message.body %>
            </p>
        </div>                                   
    </li>


   
<% end %>