<div class="row">
   <div class="col-md-2 col-md-offset-1">
        <% if current_user.avatar.nil? %>
              <%= image_tag("no_picture.jpg", size: "210x170",  :alt => "search", )%>
        <% else %>
              <%= image_tag current_user.avatar.url, class:"img-rounded", size: "210x170"  %>
        <% end %>
        <h3><%= current_user.name %></h3>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Дата регистрации: <p><%= current_user.confirmed_at %></p> 
    
        <% if current_user.phones.any? %>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
            Телефон: <% current_user.phones.each do |ph| %>
              <p><%= ph.number %></p> 
            <% end %> 
        <% end %>
   </div>
   <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
        
            <div class="edit-block">
                <div class="edit">
                    <h3>Настройки профиля</h3><br>
  
                <div class="form-group">
                    <%= f.email_field :email, autofocus: true, placeholder: "Эл.адрес", class:"form-control"  %>
                </div><br>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: " Новый Пароль", class:"form-control" %>
                </div><br>

                <div class="form-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Повторите новый пароль", class:"form-control" %>
                </div><br>

               

               <div class="form-group">
                    <%= f.file_field :avatar, :placeholder => "Загрузите изображение", class:"form-control" %>
                </div>

                <div class="pull-right">
                    <%= f.submit "Обновить", class:"btn btn-primary pull-right " %>  
                    <%= link_to "Выход", current_user , class:"btn btn-default pull-right", style:"margin-right: 15px;" %>
                </div>
                
                
                </div>
                
              </div>
          
<% end %>



   </div>
</div>>

    

   
