<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<% if @user.avatar.nil? %>
			 <%= image_tag("no_picture.jpg", size: "210x170",  :alt => "search", )%>
		<% else %>
			 <%= image_tag @user.avatar.photo.url(:me) %>
		<% end %>
		<h3><%= @user.last_name %> <%= @user.name %></h3>
			
	</div>
	<div class="col-md-8">
		 <ul class="nav nav-tabs">
		 	<li class="active"><a data-toggle="tab" href="#panel1">Мои товары</a></li>
		 	<li><a data-toggle="tab" href="#panel2">Мои услуги </a></li>
		    <li><a data-toggle="tab" href="#panel3">Новости</a></li>
		    <li><a data-toggle="tab" href="#panel4">Избранные</a></li>
		    <li><a data-toggle="tab" href="#panel5">Мои сообщения </a></li>
		    <li><a data-toggle="tab" href="#panel6">Мои заказы</a></li>
		 </ul>
		<div class="tab-content">
			<div id="panel1" class="tab-pane fade in active">
				 <%= link_to "Добавить товар", new_product_path, remote: true, data: { toggle: "modal", target: "#newProductModal"  }, class:"btn btn-primary btn-lg", style:"display:block; float:right;"  %>
				 <%= render 'products/products_ticker' %>

	        </div>
	        <div id="panel2" class="tab-pane fade">
	             <%= link_to "Добавить услугу", new_service_path, remote: true, data: { toggle: "modal", target: "#newServiceModal"  }, class:"btn btn-primary btn-lg", style:"display:block; float:right;"  %>
	             <%= render 'services/services_ticker' %>
		    </div>
		    <div id="panel3" class="tab-pane fade">
		    </div>
            <div id="panel4" class="tab-pane fade">
		    </div> 
		    <div id="panel5" class="tab-pane fade">
		    </div> 
		 </div> 
	</div>
	
</div>




<!-- Bootstrap Modal -->
<div class="modal fade" id="newProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="newServiceModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showServiceModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>